table,
tr,
th {
  border: solid black;
  margin: auto;
  display: flexbox;
  text-align: center;
  width: 1000px;
  height: 100px;
}

#th1 {
  background-color: rgb(129, 129, 253);
}

#th2 {
  background-color: rgb(129, 129, 253);
}

#th3 {
  background-color: rgb(129, 129, 253);
}

#th4 {
  background-color: rgb(129, 129, 253);
}

#th5 {
  background-color: rgb(129, 129, 253);
}

.img1 {
  width: 200px;
  height: 200px;
}

.img2 {
  width: 200px;
  height: 200px;
}

.img3 {
  width: 200px;
  height: 200px;
}

button {
  cursor: pointer;
}

.quantity {
  width: 30px;

  text-align: center;
}
